<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Eddie Jaoude">
	<meta name="author" content="Eddie Jaoude">
	<link rel="icon" href="favicon.ico">

	<title>Eddie Jaoude</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="/css/custom.css" rel="stylesheet">
</head>
<body>

<div class="container-fluid">

	<div class="row center-block about">
		<div class="col-md-3">
			<div class="card text-xs-center">
				<div class="card-header"><a href="/">Eddie Jaoude</a></div>
				<div class="card-block">
					<img src="http://s.gravatar.com/avatar/fc89ec506742619faebf6d0ba4d65154?s=200" alt="Eddie" class="img-circle center-block">
					<h4 class="card-title">Senior Web Consultant</h4>
					<p class="card-text">
						OpenSource advocate. FullStack, PHP/Java, TDD/BDD, CI/CD. Passionate for #diversity
						Families...
						<a href="http://twitter.com/WeRockTech">@WeRockTech</a>,
						<a href="http://twitter.com/EmpowerHack">@EmpowerHack</a>,
						<a href="http://twitter.com/WHFNP">@WHFNP</a>,
						<a href="http://twitter.com/AcornAspiration">@AcornAspiration</a>
						<a href="http://twitter.com/CodeFirstGirls">@CodeFirstGirls</a>
						<a href="http://twitter.com/MumsInTech">@MumsInTech</a>
					</p>
				</div>

				<div class="card-footer">
					<a href="https://github.com/eddiejaoude"><i class="fa fa-github-square fa-3x"></i></a>
					<a href="http://twitter.com/eddiejaoude"><i class="fa fa-twitter-square fa-3x"></i></a>
					<a href="https://www.linkedin.com/in/eddiejaoude"><i class="fa fa-linkedin-square fa-3x"></i></a>
					<a href="https://www.facebook.com/eddie.jaoude"><i class="fa fa-facebook-square fa-3x"></i></a>
				</div>
			</div>

			<div class="card">
				<div class="card-header text-xs-center">About</div>
				<div class="card-block">
					<p class="card-text">Eddie has been programming for over a decade and has consulted for organisations in the financial, governmental and private sectors. Outside of his consultancy role Eddie enjoys attending and contributing to hackathons and conferences around the world which deal with a variety of technical and social issues. His first foray into the realm of Women's issues was EmpowerHack's "Empowering women and girl refugees" hackathon. Since then Eddie has contributed to EmpowerHack's Open Source projects from a technical perspective and has also brought his expertise and infectious enthusiasm to actively support the growth of women in tech at WHFNP and AcornAspirations. He has been likened to Sheldon Cooper from "The Big Bang Theory" with marginally more social skills.</p>
				</div>
			</div>
		</div>
		<div class="col-md-9">
			{{ content }}
		</div>
	</div>

</div>

<footer class="navbar navbar-fixed-bottom navbar-light bg-faded">
	<p class="pull-xs-right"><a href="#">Back to top</a></p>
	<p>
		&copy; 2016 <a href="/">Jaoude Studios Ltd</a> &middot;
		<a href="https://github.com/eddiejaoude"><i class="fa fa-github-square fa-1x"></i></a>
		<a href="http://twitter.com/eddiejaoude"><i class="fa fa-twitter-square fa-1x"></i></a>
		<a href="https://www.linkedin.com/in/eddiejaoude"><i class="fa fa-linkedin-square fa-1x"></i></a>
		<a href="https://www.facebook.com/eddie.jaoude"><i class="fa fa-facebook-square fa-1x"></i></a>
	</p>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script id="dsq-count-scr" src="//eddiejaoude.disqus.com/count.js" async></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-75620357-1', 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>
